@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://st3.depositphotos.com/1037987/32645/i/450/depositphotos_326452324-stock-photo-teenage-boy-wearing-headset-gaming.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}